/*---------------About-us-start--------------*/
.about-us {
  padding: 110px 0 200px 0;
}

.upper-img {
  position: relative;
}

.lower-img {
  position: absolute;
  left: -96px;
  bottom: -86px;
}

.about-para p {
  font-size: 18px;
  color: var(--c-semi-grey);
  font-family: var(--ff-secondary);
  line-height: 37px;
  font-weight: 400;
  padding-bottom: 40px;
}

.about-image-wrap {
  padding-left: 60px;
}

.about-us .custom-button:hover{
  border: 2px solid var(--c-primary-text);
}
/*---------------About-us-end--------------*/

/*--------------our-product-start-------------*/

.our-product .custom-heading {
  padding: 0;
}
.our-product {
  background-image: url(../images/product-bg.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.our-product .owl-carousel .owl-item img{
  padding: 0 12px;
  height: 465px;
  transition: 0.5s;
}

 .item:hover img{
  transform: scale(1.1);
}

.item{
  overflow: hidden;
}

.our-product .cards h5 {
  color: var(--c-light-grey);
  font-family: var(--ff-primary);
  font-size: 28px;
  font-weight: 500;
  padding-top: 25px;
  text-transform: uppercase;
}

.our-product .cards h5:hover{
  color: var(--c-primary-text);
}

.our-product .custom-heading h3{
  color: var(--c-grey-100);
  padding-bottom: 80px;
}

.our-product .owl-carousel .owl-dots{
  display: inline list-item;
  position: absolute;
  padding: 10px;
  right: 0;
  bottom: 0;
  left: 0;
}

/*--------------our-product-end-------------*/

/*------------custom-gallery-start----------------*/

.custom-gallery {
  text-align: center;
  background-color: #fff;
}

.custom-gallery .custom-button:hover{
  border: 2px solid var(--c-primary-text);
}

.gallery-custom-button {
  padding-top: 85px;
}

.gallery-custom-img img {
  width: 100%;
}

.gallery-custom-img-lower {
  padding-top: 7px;
}

.custom-gallery .custom-heading h3{
  padding-bottom: 80px;
}
/*------------custom-gallery-end----------------*/















@media (min-width:1400px) and (max-width:1600px){

}

@media (min-width:1200px) and (max-width:1400px){
    
}

@media (min-width:992px) and (max-width:1200px){
    
}

@media only screen and (max-width:991.98px){
    
}

@media only screen and (max-width:767.98px){
    
}

@media only screen and (max-width:575.98px){
    
}