/*---------------About-us-start--------------*/
.about-us {
  padding: 140px 0 180px 0;
}
.about-us .custom-heading {
  padding: 0;
}

.upper-img {
  position: relative;
}

.lower-img {
  position: absolute;
  left: -96px;
  bottom: -86px;
}

.about-para .para {
  font-size: 18px;
  color: var(--c-semi-grey);
  font-family: var(--ff-secondary);
  line-height: 30px;
  padding: 30px 0;
  font-weight: 400;
}

.about-image-wrap {
  padding-left: 60px;
}
/*---------------About-us-end--------------*/

/*--------------our-product-start-------------*/
.our-product {
  padding: 0 0 60px 0;
  background-image: url(../images/product-bg.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.our-product .owl-carousel .owl-item img{
  padding: 0 20px;
}

.our-product .cards .product-title {
  color: var(--c-light-grey);
  font-family: var(--ff-primary);
  font-size: 28px;
  font-weight: 500;
  padding-top: 25px;
  text-transform: uppercase;
}

.our-product .custom-heading h3{
  color: var(--c-grey-100);
}

/*--------------our-product-end-------------*/

/*------------custom-gallery-start----------------*/

.custom-gallery {
  text-align: center;
  padding: 0 0 60px 0;
  background-color: #fff;
}

/*------------custom-gallery-end----------------*/















@media (min-width:1400px) and (max-width:1600px){

}

@media (min-width:1200px) and (max-width:1400px){
    
}

@media (min-width:992px) and (max-width:1200px){
    
}

@media only screen and (max-width:991.98px){
    
}

@media only screen and (max-width:767.98px){
    
}

@media only screen and (max-width:575.98px){
    
}