/*---------------About-us-start--------------*/
.about-us {
  padding: 110px 0 200px 0;
}
.about-us .custom-heading h3{
  padding-right: 146px;
}
.upper-img {
  position: relative;
}

.lower-img {
  position: absolute;
  left: -96px;
  bottom: -86px;
}

.about-para p {
  font-size: 18px;
  color: var(--c-semi-grey);
  font-family: var(--ff-secondary);
  line-height: 37px;
  font-weight: 400;
  padding-bottom: 40px;
}

.about-image-wrap {
  padding-left: 60px;
}

.about-us .custom-button:hover{
  border: 2px solid var(--c-primary-text);
}
/*---------------About-us-end--------------*/

/*--------------our-product-start-------------*/

.our-product {
  padding: 110px 0 62px 0;
  background-image: url(../images/product-bg.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.our-product .owl-carousel .owl-item .img-wrap img{
  height: 465px;
  transition: 0.5s;
  object-fit: cover;
}

 .item .img-wrap:hover img{
  transform: scale(1.05);
}

.img-wrap{
  overflow: hidden;
}

.our-product .cards {
  padding: 0 10px;
}

.our-product .cards h5 {
  color: var(--c-light-grey);
  font-family: var(--ff-primary);
  font-size: 28px;
  font-weight: 500;
  padding-top: 25px;
  text-transform: uppercase;
}

.our-product .cards h5:hover{
  color: var(--c-primary-text);
}

.our-product .custom-heading h3{
  color: var(--c-grey-100);
  padding-bottom: 80px;
}

.our-product .product-owl-wrap {
  padding: 0 5%;
}

.our-product .owl-dots {
  text-align: center;
  padding-top: 75px;
}
.our-product .owl-dots button.owl-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background: var(--c-grey-100);
  margin: 0 12px;
}
.our-product .owl-dots button.owl-dot.active {
  background-color: var(--c-primary-text);
}
.our-product .owl-dots button.owl-dot:focus {
  outline: none;
}

.our-product .owl-nav{display: none;}

.our-product .owl-nav {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}


.our-product .owl-nav .owl-prev span, .owl-next span {
	color: var(--c-grey-100);
  font-size: 50px;
}

.our-product .owl-nav .owl-prev span:hover, 
.owl-next span:hover {
	color:var(--c-primary-text);
}

.our-product .owl-nav .owl-prev {
  position: absolute;
  left: -12px;
}

.our-product .owl-nav .owl-next {
  position: absolute;
  right: -12px;
}

/*--------------our-product-end-------------*/

/*------------custom-gallery-start----------------*/

.custom-gallery {
  text-align: center;
  background-color: #fff;
}

.custom-gallery .custom-button:hover{
  border: 2px solid var(--c-primary-text);
}

.gallery-custom-button {
  padding-top: 85px;
}

.gallery-custom-img img {
  width: 100%;
}

.gallery-custom-img-lower {
  padding-top: 7px;
}

.custom-gallery .custom-heading h3{
  padding-bottom: 80px;
}

.light-box-gal .col-12:nth-child(2) .gallery-custom-img a:first-child{
  padding-bottom: 10px;
  display: block;
}

.light-box-gal .col-12:nth-child(2) .gallery-custom-img a:last-child{
  display: block;
  padding-top: 10px;
}

.light-box-gal .col-12:nth-child(2) .gallery-custom-img a:last-child img{
  height: 341px;
}
/*------------custom-gallery-end----------------*/

/*-----------iron-gallery-start-----------------*/
.iron-gallery {
  background-color: var(--c-white);
}


.iron-gallery .iron-gallery-img-wrap img {
  width: 100%;
  transition: 0.5s ease-in-out;
  display: block;
}
.iron-gallery .iron-gallery-img-wrap:hover img {
  transform: scale(1.10);
}
.iron-gallery .iron-gallery-img-wrap{
  overflow: hidden;
  border-radius: 5px;
  border: 5px solid var(--c-primary-text);
  margin-bottom: 20px;
  position: relative;
  box-shadow: 1px 1px 8px 3px var(--c-light-grey);
}
.iron-gallery .iron-gallery-img-wrap .iron-gallery-img-wrap-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}
.iron-gallery .iron-gallery-img-wrap:hover .iron-gallery-img-wrap-overlay{
  opacity: 1;
  top: 0;
}

/*-----------iron-gallery-end-----------------*/

/*----------details-start------------------*/

.details {
  padding: 100px 0 60px 0;
}

.details .custom-heading h5{
  font-family: var(--ff-secondary);
  font-size: 16px;
  font-weight: 700;
  color: var(--c-primary-text);
  padding: 10px 0;
  margin-top: 15px;
}
.details ul {
  padding-left: 14px;
}
.details ul li {
  list-style: disclosure-closed;
  padding-left: 10px;
  color: var(--c-primary-text);
}
.details .terms-condition-wrap {
  text-align: center;
}
.details .custom-heading h3{
  padding-bottom: 20px;
  margin-top: 15px;
}

.details .details-return::after {
  content: "";
  position: absolute;
  background-color: rgb(255, 174, 174);
  width: 1200px;
  height: 1px;
}

.details .details-shipping::after {
  content: "";
  position: absolute;
  background-color: rgb(255, 174, 174);
  width: 1200px;
  height: 1px;
}

.details .para-underline {
  padding-bottom: 30px;
}

.details .custom-heading h3 span img {
  vertical-align: middle;
  padding-right: 10px;
}

.details-return {
  padding-bottom: 60px;
}

.details-shipping {
  padding-bottom: 60px;
}
/*----------details-end------------------*/

/*----------terms-condition-start------------*/

.terms-condition .custom-heading h3{
  padding-bottom: 30px;
  margin-top: 0;
}

.terms-condition {
  text-align: center;
  background-color: var(--c-grey-100);
  padding: 100px 0;
}

.terms-condition .custom-paragraph{
  font-weight: 700;
}


/*----------terms-condition-end------------*/












@media (min-width:1366px) and (max-width:1600px){
  /*-----about-us-start--------*/
  .about-us {padding: 100px 0 100px 0;}
  .about-image-wrap {padding-left: 60px;}
  .upper-img img {height: 500px;object-fit: cover;}
  .lower-img {left: -35px;bottom: -35px;}
  .lower-img img {height: 350px;object-fit: cover;}
  /*-----about-us-end--------*/
  /*------our-product-start------*/
  .our-product .owl-carousel .owl-item .img-wrap img {height: 400px;object-fit: cover;}
  .our-product .owl-dots{padding-top: 20px;}
  .our-product .owl-nav{display: none;}
  .our-product .product-owl-wrap {padding: 0 3%;}
  /*------our-product-end------*/
  /*--------custom-gallery-start---------*/
  .custom-gallery .custom-pad{padding: 110px 0;}
  .light-box-gal .col-12:nth-child(2) .gallery-custom-img a:last-child img {height: 305px;object-fit: cover;}
  /*--------custom-gallery-end---------*/
  /*--------details-start-----------*/
  .details .details-return::after{width: 1100px;}
  .details .details-shipping::after{width: 1100px;}
  /*--------details-end-----------*/
}

@media (min-width:1200px) and (max-width:1366px){
  /*about-us-start-*/
  .about-us {padding: 90px 0 90px 0;}
  .upper-img img {height: 450px;object-fit: cover;}
  .lower-img img {height: 300px;object-fit: cover;}
  .lower-img{left: -25px;bottom: -60px;}
  /*.about-image-wrap {text-align: center;}*/
   /*about-us-end-*/
     /*--------custom-gallery-start---------*/
  .light-box-gal .col-12:nth-child(2) .gallery-custom-img a:last-child img {height: 277px;object-fit: cover;}
  /*--------custom-gallery-end---------*/

  /*----------details-start----------*/
  .details {padding: 70px 0 50px 0;}
  .details .details-return {padding-bottom: 50px;}
  .details .details-shipping {padding-bottom: 50px;}
  .details .custom-heading h5{margin-top: 15px;}
  /*----------details-end----------*/

  /*-------terms-and-condition-start--------*/
  .terms-condition{padding: 0 0 70px 0;}
  .terms-condition .custom-heading h3 {padding-bottom: 25px;}
  /*-------terms-and-condition-end--------*/
}

@media (min-width:1024px) and (max-width:1200px){
  /*------our-product-start------*/
  .our-product .owl-carousel .owl-item .img-wrap img {height: 350px;object-fit: cover;}
  .our-product .owl-dots {padding-top: 20px;}
  /*------our-product-end------*/
  /*--------details-start-----------*/
  .details .details-return::after{width: 1000px;}
  .details .details-shipping::after{width: 1000px;}
    /*----------details-start----------*/
    .details {padding: 60px 0 40px 0;}
    .details .details-return {padding-bottom: 40px;}
    .details .details-shipping {padding-bottom: 40px;}
    .details .custom-heading h5{margin-top: 15px;}
    /*----------details-end----------*/
  /*--------details-end-----------*/
    /*-------terms-and-condition-start--------*/
    .terms-condition{padding: 60px 0;}
    .terms-condition .custom-heading h3 {padding-bottom: 25px;}
    /*-------terms-and-condition-end--------*/
}

@media (min-width:992px) and (max-width:1024px){
  /*about-us-start-*/
  .about-us {padding: 90px 0 90px 0;}
  .about-image-wrap {text-align: center;}
  .upper-img img {height: 400px;object-fit: cover;}
  .lower-img img {height: 300px;object-fit: cover;}
  .lower-img{left: 20px;bottom: -130px;}
  /*about-us-end-*/
  /*our-product-start*/
  .our-product .owl-carousel .owl-item .img-wrap img{height: 325px;object-fit: cover;}
  .our-product .cards h5{font-size: 20px;}
  .our-product .owl-dots{padding-top: 20px;}
  .our-product .custom-heading h3{padding-bottom: 60px;}
  .our-product{padding: 80px 0 60px 0;}
  /*our-product-end*/
  /*-----custom-gallery-start---------*/
  .custom-gallery .custom-heading h3 {padding-bottom: 60px;}
  .light-box-gal .col-12:nth-child(2) .gallery-custom-img a:last-child img {height: 222px;object-fit: cover;}
  /*-----custom-gallery-start---------*/
    /*--------details-start-----------*/
    .details .details-return::after{width: 850px;}
    .details .details-shipping::after{width: 850px;}
    /*--------details-end-----------*/

        /*----------details-start----------*/
        .details {padding: 60px 0 40px 0;}
        .details .details-return {padding-bottom: 40px;}
        .details .details-shipping {padding-bottom: 40px;}
        .details .custom-heading h5{margin-top: 10px;}
        /*----------details-end----------*/
        /*-------terms-and-condition-start--------*/
        .terms-condition{padding: 60px 0;}
        .terms-condition .custom-heading h3 {padding-bottom: 25px;}
        /*-------terms-and-condition-end--------*/
  }
 
  
    


@media only screen and (max-width:991.98px){
  /*about-us-start-*/
  .about-us {padding: 60px 0 60px 0;}
  .about-us .custom-heading h3{padding-right: 0;}
  .custom-heading h3{padding-bottom: 20px;}
  .about-image-wrap {text-align: center;padding-bottom: 100px;}
  .upper-img img {height: 350px;}
  .lower-img {left: 150px;bottom: -75px;}
  .lower-img img {height: 250px;}
  .about-para p{line-height: 30px;padding-bottom: 25px;}
  .about-content-wrap {padding: 0 20px;text-align: center;}
  /*about-us-end-*/

  /*our-product-start-*/
  .our-product .owl-carousel .owl-item .img-wrap img {height: 300px;object-fit: cover;}
  .our-product .cards h5{font-size: 18px;}
  .our-product .owl-dots{padding-top: 15px;}
  .our-product .custom-heading h3{padding-bottom: 50px;}
  .our-product{padding: 60px 0 60px 0;}
  /*our-product-end-*/

  /*custom-gallery-start*/
  .custom-gallery .custom-heading h3 {padding-bottom: 50px;}
  .gallery-custom-button {padding-top: 50px;}
  .light-box-gal .col-12:nth-child(2) .gallery-custom-img a:last-child img {height: 165px;object-fit: cover;}
  .iron-gallery .iron-gallery-img-wrap{margin-bottom: 10px;}
  /*custom-gallery-end*/


 /*---------details-start---------*/
     .details .custom-heading h3{padding-bottom: 15px;}
     .details ul {padding-left: 20px;}
     .details .details-return::after{width: 650px;}
     .details .details-shipping::after{width: 650px;}
     .details .para-underline {padding-bottom: 20px;}
     /*--------details-end-----------*/
    /*----------details-start----------*/
    .details .custom-heading h4{font-size: 16px;}
    .details {padding: 50px 0 30px 0;}
    .details .details-return {padding-bottom: 30px;}
    .details .details-shipping {padding-bottom: 30px;}
    .details .custom-heading h5{margin-top: 10px;}
    /*----------details-end----------*/
    /*-------terms-and-condition-start--------*/
    .terms-condition{padding: 50px 0;}
    .terms-condition .custom-heading h3 {padding-bottom: 20px;}
    /*-------terms-and-condition-end--------*/
}

@media only screen and (max-width:767.98px){
  /*about-us-start-*/
  .lower-img {left: 60px;}
   /*about-us-end-*/
  /*custom-gallery-start*/
  .gallery-custom-img {padding-bottom: 20px;}
  .gallery-custom-button {padding-top: 20px;}
  /*custom-gallery-end*/
  /*--------details-start-----------*/
  .details .details-return::after{width: 555px;}
  .details .details-shipping::after{width: 555px;}
 /*--------details-end-----------*/
     /*----------details-start----------*/
     .details {padding: 40px 0 20px 0;}
     .details .details-return {padding-bottom: 20px;}
     .details .details-shipping {padding-bottom: 20px;}
     .details .custom-heading h5{margin-top: 10px;}
     /*----------details-end----------*/
     /*-------terms-and-condition-start--------*/
     .terms-condition{padding: 40px 0;}
     .terms-condition .custom-heading h3 {padding-bottom: 15px;}
     .terms-condition .custom-paragraph {font-weight: 600;}
     /*-------terms-and-condition-end--------*/
 }

@media only screen and (max-width:575.98px){
  /*about-us-start-*/
  .about-us {padding: 30px 0 30px 0;}
  .about-image-wrap{padding-left: 35px;}
  .upper-img img {height: 240px;}
  .lower-img {left: -10px;}
  .lower-img img {height: 180px;}
  .about-para p {font-size: 15px;}
  .about-para p {line-height: 20px;}
  /*about-us-end-*/
  /*our-product-start-*/
  .our-product{padding: 30px 0 30px 0;}
  .our-product .custom-heading h3 {padding-bottom: 20px;}
  .our-product .owl-carousel .owl-item img{object-fit: cover;height: 300px;}
  .our-product {padding: 30px 0 30px 0;}
  .our-product .owl-dots{display: none;}
  .our-product .owl-nav{display: block;}
  /*our-product-end-*/
    /*-----custom-gallery-start------*/
    .gallery-custom-img {padding-bottom: 10px;}
    .light-box-gal .col-12:nth-child(2) .gallery-custom-img a:last-child{padding-top: 0;}
    .custom-gallery .custom-heading h3 {padding-bottom: 20px;}
    
    /*-----custom-gallery-end------*/
     /*---------details-start---------*/
  .details ul {padding-left: 15px;}
  .details .custom-heading h3{padding-bottom: 10px;}
 /*---------details-start---------*/

   /*--------details-start-----------*/
   .details .details-return::after{width: 355px;}
   .details .details-shipping::after{width: 355px;}
   .details .para-underline {padding-bottom: 10px;}
  /*--------details-end-----------*/
     /*----------details-start----------*/
     .details .custom-heading h4{font-size: 15px;}
     .details {padding: 30px 0 20px 0;}
     .details .details-return {padding-bottom: 20px;}
     .details .details-shipping {padding-bottom: 20px;}
     .details .custom-heading h5{margin-top: 8px;}
     /*----------details-end----------*/
     /*-------terms-and-condition-start--------*/
     .terms-condition{padding: 30px 0;}
     .terms-condition .custom-heading h3 {padding-bottom: 15px;}
     .terms-condition .custom-paragraph {font-weight: 500;}
     /*-------terms-and-condition-end--------*/

}

@media only screen and (max-width:480.98px){

}