/*header-start*/ 
.custom-header {
position: absolute;
z-index: 4;
width: 100%;
margin-top: 24px;
}

.custom-header .navbar.navbar-expand-lg.py-0 {
padding: 0 66px;
}
.custom-header .ms-auto {
margin-left: 80px !important;
}
.custom-header .header-icon {
margin-right: 30px;
}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {
width: 87%;
}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {
padding-right: 0;
padding-left: 0;
}
.custom-header .header-logo {
margin-right: 0;
}
.custom-header .nav-item {
margin-right: 0 !important;
margin-left: 51px;
}
.custom-header .nav-item .nav-link.active {
font-family: var(--ff-primary);
font-size: 18px;
font-weight: 500;
text-decoration: none;
color: var(--c-primary-text);
transition: all 0.3s ease-in-out;
}
.custom-header .nav-item .nav-link.active:hover {
color: var(--c-primary-text);
}
.custom-header .nav-item .nav-link {
font-family: var(--ff-primary);
font-size: 18px;
font-weight: 500;
text-decoration: none;
color: var(--c-white);
transition: all 0.3s ease-in-out;
text-transform: uppercase;
}
.custom-header .nav-item .nav-link:hover {
color: var(--c-primary-text); 
}
.header-icon a {
background-color: var(--c-white);
text-decoration: none;
color: var(--c-semi-grey);
height: 40px;
width: 40px;
display: inline-block;
text-align: center;
border-radius: 50px;
font-size: 16px;
line-height: 38px;
}
.header-icon a:hover {
background-color: var(--c-primary-text);
color: var(--c-white);
}
/*header-end*/ 
/*banner-start*/
.main-banner {
position: relative;
z-index: 1;
}
.main-banner .carousel-caption.d-none.d-md-block {
position: absolute;
top: 37.5%;
padding: 0 370px;
margin: 0 auto;
right: 0%;
left: 0%;
}
.main-banner .carousel-indicators {
margin-bottom: 42px;
}
.main-banner h1 {
font-family: var(--ff-primary);
font-size: 86px;
font-weight: 800;
line-height: 100px;
}
.banner-button .custom-button {
margin-top: 50px;
}
.main-banner .carousel-indicators [data-bs-target] {
width: 8px;
height: 8px;
margin-right: 13px;
border-top: none;
border-bottom: none;
opacity: 1;
border-radius: 50px;
}
.main-banner .carousel-indicators [data-bs-target]:hover {
background-color:var(--c-primary-text);
}
.main-banner .carousel-indicators [data-bs-target].active {
background-color: var(--c-primary-text);
}
.banner-button .custom-button:hover {border: 2px solid var(--c-white);}
.header-button .custom-button:hover {border: 2px solid var(--c-white);}
/*banner-end*/
/*footer-start*/
.footer-wrap {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 110px 0 0;
position: relative;
}
.footer-1-content p {
font-family: var(--ff-secondary);
color: var(--c-light-grey);
font-size: 14px;
font-weight: 400;
line-height: 29px;
margin-top: 58px;
letter-spacing: 0.6px;
}
.footer-1-content .footer-img {
margin-top: 45px;
}
.footer-1-content .footer-img li {
display: inline-block;
}
.footer-wrap .footer-heading {
font-family: var(--ff-primary);
color: var(--c-white);
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
line-height: 0.9;
}
.footer-wrap .footer-list li {
padding: 10px 0px;
position: relative;
padding-left: 25px;
}
.footer-wrap .footer-list {
margin-top: 50px;
}
.footer-wrap .footer-list li a {
font-family: var(--ff-secondary);
color: var(--c-light-grey);
font-size: 14px;
font-weight: 400;
}
.footer-wrap .footer-list li a:hover {
color: var(--c-primary-text);
}
.footer-wrap .footer-break-list li {
padding: 10px 0;
}
.footer-wrap .footer-break-list {
margin-top: 50px;
column-count: 2;
}
.footer-wrap .footer-break-list li a {
font-family: var(--ff-secondary);
color: var(--c-light-grey);
font-size: 14px;
font-weight: 400;
}
.footer-wrap .footer-break-list li a:hover {
color: var(--c-primary-text);
}
.footer-3-content .footer-icon {
color: var(--c-primary-text);
font-size: 15px;
position: absolute;
left: 0;
}
.footer-2-content {
margin-left: 120px;
}
.copyright {
text-align: center;
border-top: 1px solid #494949;
margin-top: 77px;
}
.copyright p {
font-family: var(--ff-secondary);
color: var(--c-light-grey);
font-size: 15px;
font-weight: 400;
padding: 25px 0;
}
/*footer-end*/
/*About-ICC-inner-start*/
.hero-img img {
width: 100%;
}
.about-hero-button .custom-button {
margin-top: 20px;
}
.hero-img-content {
padding-left: 40px;
}
.categories-1 img {
width: 100%;
object-fit: cover;
transform: scale(1.1);
transition: all 0.3s ease-in-out;
}
.categories-2 img {
width: 100%;
object-fit: cover;
transform: scale(1.1);
transition: all 0.3s ease-in-out;
}
.categories-3 img {
width: 100%;
object-fit: cover;
transform: scale(1.1);
transition: all 0.3s ease-in-out;
}
.categories-1 {
position: relative;
overflow: hidden;
height: 500px;
transition: all 0.3s ease-in-out;
}
.categories-2 {
position: relative;
overflow: hidden;
height: 500px;
transition: all 0.3s ease-in-out;
}
.categories-3 {
position: relative;
overflow: hidden;
height: 700px;
transition: all 0.3s ease-in-out;
margin-top: 26px;
}
.category-content {
position: absolute;
top: 50%;
left: 0;
right: 0;
margin: 0 auto;
z-index: 1;
}
.category-content .custom-paragraph {
color: var(--c-grey-100);
text-align: center;
font-size: 22px;
display: none;
transform: scale(0);
transition: all 0.3s ease-in-out;
}
.categories-1::after {
position: absolute;
content: '';
background-color: rgba(0,0,0,0.65);
width: 100%;
height: 100%;
top: 0;
left: 0;
display: none;
transition: all 0.3s ease-in-out;
}
.categories-1:hover::after {
display: block;
cursor: pointer;
}
.categories-1:hover .category-content .custom-paragraph {
display: block;
transform: scale(1);
}
.categories-1:hover img {
transform: scale(1);
}
.categories-2::after {
position: absolute;
content: '';
background-color: rgba(0,0,0,0.65);
width: 100%;
height: 100%;
top: 0;
left: 0;
display: none;
transition: all 0.3s ease-in-out;
}
.categories-2:hover::after {
display: block;
cursor: pointer;
}
.categories-2:hover .category-content .custom-paragraph {
display: block;
transform: scale(1);
}
.categories-2:hover img {
transform: scale(1);
}
.categories-3::after {
position: absolute;
content: '';
background-color: rgba(0,0,0,0.65);
width: 100%;
height: 100%;
top: 0;
left: 0;
display: none;
transition: all 0.3s ease-in-out;
}
.categories-3:hover::after {
display: block;
cursor: pointer;
}
.categories-3:hover .category-content .custom-paragraph {
display: block;
transform: scale(1);
}
.categories-3:hover img {
transform: scale(1);
}
.about-us-categories.custom-pad {
background-color: #f9f9f9;
padding-top: 200px;
}
/*About-ICC-inner-end*/
/*Galil-47-inner-start*/
.details-img {
    object-fit: cover;
}
.details-img img {
    width: 100%;
}
.details-content {
    margin-top: 30px;
}
.galil-believing .custom-paragraph {
    padding: 0 0 30px 0;
    color: var(--c-light-grey);
  }
  .details-img .custom-paragraph {
    text-align: center;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 600;
  }
  .galil-details.custom-pad .custom-heading h5 {
    line-height: 0;
}
.galil-believing.custom-pad .custom-button:hover {
    border: 2px solid var(--c-white);
}
.galil-believing.custom-pad {
    background-image: url(../images/product-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}
.galil-47-gallery {
    object-fit: cover;
    overflow: hidden;
    padding: 25px 0 0px 0;
    height: 600px;
  }
  .galil-47-gallery img {
    width: 100%;
  }
  .galil-gallery.custom-pad {
    background-color: #f9f9f9;
  }
/*Galil-47-inner-end*/
/*Responsive-start*/
@media (min-width: 1850px) and (max-width: 2500px){
.custom-header .nav-item {margin-left: 51px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end;}
}
@media (min-width: 1800px) and (max-width: 1850px){
.custom-header .nav-item {margin-left: 41px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end;}
/*About-ICC-inner-start*/

/*About-ICC-inner-end*/
/*Galil-47-inner-start*/

/*Galil-47-inner-end*/
}

@media (min-width: 1700px) and (max-width: 1800px){
.custom-header .nav-item {margin-left: 31px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end;}
/*About-ICC-inner-start*/

/*About-ICC-inner-end*/
/*Galil-47-inner-start*/

/*Galil-47-inner-end*/
}

@media (min-width: 1600px) and (max-width: 1700px){
.custom-header .nav-item {margin-left: 21px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end;}
/*About-ICC-inner-start*/

/*About-ICC-inner-end*/
/*Galil-47-inner-start*/

/*Galil-47-inner-end*/
}

@media (min-width: 1366px) and (max-width: 1600px){
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 0 36px;}
.navbar-brand.header-logo.ms-0.py-0 img {width: 300px;}
.custom-header .nav-item .nav-link {font-size: 16px;}
.custom-header .nav-item .nav-link.active {font-size: 16px;}
.custom-header .nav-item {margin-left: 23px;}
.custom-header .navbar-brand.header-logo.ms-0.py-0 {padding-bottom: .3125rem !important;}
.main-banner h1 {font-size: 70px;line-height: 75px;}
.banner-button .custom-button {margin-top: 45px;}
.main-banner .carousel-caption.d-none.d-md-block {top: 38.5%;}
.main-banner .carousel-indicators {margin-bottom: 32px;}
.footer-1-content p {font-size: 14px;margin-top: 50px;}
.footer-wrap .footer-break-list li a {font-size: 14px;}
.footer-wrap .footer-list li a {font-size: 14px;}
.footer-wrap {padding: 90px 0 0;}
.footer-wrap .footer-break-list {margin-top: 44px;}
.footer-wrap .footer-list {margin-top: 44px;}
.footer-1-content .footer-img {margin-top: 40px;}
.copyright p {font-size: 14px;padding: 20px 0;}
.copyright {margin-top: 67px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end !important;}
/*About-ICC-inner-start*/

/*About-ICC-inner-end*/
/*Galil-47-inner-start*/
.galil-47-gallery {height: 500px;}
.details-content {margin-top: 20px;}
/*Galil-47-inner-end*/
}

@media (min-width: 1200px) and (max-width: 1366px){
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 0 36px;}
.navbar-brand.header-logo.ms-0.py-0 img {width: 300px;}
.custom-header .nav-item .nav-link {font-size: 14px;}
.custom-header .nav-item .nav-link.active {font-size: 14px;}
.custom-header .nav-item {margin-left: 18px;}
.custom-header .navbar-brand.header-logo.ms-0.py-0 {padding-bottom: .3125rem !important;}
.main-banner h1 {font-size: 56px;line-height: 70px;}
.banner-button .custom-button {margin-top: 35px;}
.main-banner .carousel-caption.d-none.d-md-block {top: 38.5%;}
.main-banner .carousel-indicators {margin-bottom: 32px;}
.footer-1-content p {font-size: 13px;margin-top: 50px;}
.footer-wrap .footer-break-list li a {font-size: 13px;}
.footer-wrap .footer-list li a {font-size: 13px;}
.footer-wrap {padding: 90px 0 0;}
.footer-wrap .footer-break-list {margin-top: 44px;}
.footer-wrap .footer-list {margin-top: 44px;}
.footer-1-content .footer-img {margin-top: 40px;}
.copyright p {font-size: 13px;padding: 20px 0;}
.copyright {margin-top: 67px;}
.header-icon a {height: 35px;width: 35px;line-height: 35px;}
.custom-header .ms-auto {margin-left: 35px !important;}
.main-banner .carousel-indicators {margin-bottom: 28px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end !important;}
/*About-ICC-inner-start*/
.hero-img-content {padding-left: 10px;}
.categories-1 {height: 400px;}
.categories-2 {height: 400px;}
.categories-3 {height: 600px;}
/*About-ICC-inner-end*/
/*Galil-47-inner-start*/
.galil-47-gallery {height: 450px;}
.details-content {margin-top: 20px;}
/*Galil-47-inner-end*/
}

@media (min-width: 1024px) and (max-width: 1200px){
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 0 26px;}
.navbar-brand.header-logo.ms-0.py-0 img {width: 200px;}
.custom-header .nav-item .nav-link {font-size: 13px;}
.custom-header .nav-item .nav-link.active {font-size: 13px;}
.custom-header .nav-item {margin-left: 15px;}
.custom-header .navbar-brand.header-logo.ms-0.py-0 {padding-bottom: .3125rem !important;}
.main-banner h1 {font-size: 46px;line-height: 60px;}
.main-banner .carousel-caption.d-none.d-md-block {padding: 0 320px;}
.banner-button .custom-button {margin-top: 35px;}
.main-banner .carousel-caption.d-none.d-md-block {top: 36%;}
.main-banner .carousel-indicators {margin-bottom: 32px;}
.footer-1-content p {font-size: 13px;margin-top: 50px;line-height: 25px;}
.footer-wrap .footer-break-list li a {font-size: 13px;}
.footer-wrap .footer-list li a {font-size: 13px;}
.footer-wrap {padding: 90px 0 0;}
.footer-wrap .footer-break-list {margin-top: 44px;}
.footer-wrap .footer-list {margin-top: 44px;}
.footer-1-content .footer-img {margin-top: 40px;}
.copyright p {font-size: 13px;padding: 20px 0;}
.copyright {margin-top: 67px;}
.header-icon a {height: 35px;width: 35px;line-height: 35px;}
.custom-header .ms-auto {margin-left: 25px !important;}
.main-banner .carousel-indicators {margin-bottom: 25px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end !important;}
.footer-wrap .footer-break-list li {padding: 8px 0;}
.footer-wrap .footer-list li {padding: 8px 0px;padding-left: 20px;}
.footer-logo img {width: 90%;}
/*About-ICC-inner-start*/
.hero-img-content {padding-left: 10px;}
.categories-1 {height: 360px;}
.categories-2 {height: 360px;}
.categories-3 {height: 550px;}
.category-content .custom-paragraph {font-size: 18px;}
/*About-ICC-inner-end*/
/*Galil-47-inner-start*/
.galil-47-gallery {height: 400px;}
.details-content {margin-top: 15px;}
.details-img .custom-paragraph {margin-top: 10px;}
/*Galil-47-inner-end*/
}

@media (min-width: 992px) and (max-width: 1024px) {
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 0 26px;}
.navbar-brand.header-logo.ms-0.py-0 img {width: 200px;}
.custom-header .nav-item .nav-link {font-size: 13px;}
.custom-header .nav-item .nav-link.active {font-size: 13px;}
.custom-header .nav-item {margin-left: 12px;}
.custom-header .navbar-brand.header-logo.ms-0.py-0 {padding-bottom: .3125rem !important;}
.main-banner h1 {font-size: 43px;line-height: 60px;}
.main-banner .carousel-caption.d-none.d-md-block {padding: 0 320px;}
.banner-button .custom-button {margin-top: 35px;}
.main-banner .carousel-caption.d-none.d-md-block {top: 36%;}
.main-banner .carousel-indicators {margin-bottom: 32px;}
.footer-1-content p {font-size: 13px;margin-top: 50px;line-height: 25px;}
.footer-wrap .footer-break-list li a {font-size: 13px;}
.footer-wrap .footer-list li a {font-size: 13px;}
.footer-wrap {padding: 90px 0 0;}
.footer-wrap .footer-break-list {margin-top: 44px;}
.footer-wrap .footer-list {margin-top: 44px;}
.footer-1-content .footer-img {margin-top: 40px;}
.copyright p {font-size: 13px;padding: 15px 0;}
.copyright {margin-top: 67px;}
.header-icon a {height: 35px;width: 35px;line-height: 35px;}
.custom-header .ms-auto {margin-left: 25px !important;}
.main-banner .carousel-indicators {margin-bottom: 25px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end !important;}
.footer-wrap .footer-break-list li {padding: 8px 0;}
.footer-wrap .footer-list li {padding: 8px 0px;padding-left: 20px;}
.footer-logo img {width: 90%;}
/*About-ICC-inner-start*/
.hero-img-content {padding-left: 10px;}
.categories-1 {height: 320px;}
.categories-2 {height: 320px;}
.categories-3 {height: 500px;}
.category-content .custom-paragraph {font-size: 18px;}
.about-us-categories.custom-pad {padding-top: 160px;}
/*About-ICC-inner-end*/
/*Galil-47-inner-start*/
.galil-47-gallery {height: 350px;}
.details-content {margin-top: 10px;}
.details-img .custom-paragraph {font-size: 14px;}
.details-img .custom-paragraph {margin-top: 10px;}
/*Galil-47-inner-end*/
}

@media only screen and (max-width: 991.98px) {    
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 0 15px;}
.navbar-brand.header-logo.ms-0.py-0 img {width: 200px;}
.custom-header .nav-item .nav-link {font-size: 13px;}
.custom-header .nav-item .nav-link.active {font-size: 13px;}
.custom-header .nav-item {margin-left: 0px;}
.custom-header .navbar-brand.header-logo.ms-0.py-0 {padding-bottom: .3125rem !important;}
.main-banner h1 {font-size: 35px;line-height: 42px;}
.main-banner .carousel-caption.d-none.d-md-block {padding: 0 190px;}
.banner-button .custom-button {margin-top: 25px;}
.main-banner .carousel-caption.d-none.d-md-block {top: 38.5%;}
.main-banner .carousel-indicators {margin-bottom: 32px;}
.footer-1-content p {font-size: 12px;margin-top: 30px;line-height: 25px;}
.footer-wrap .footer-break-list li a {font-size: 12px;}
.footer-wrap .footer-list li a {font-size: 12px;}
.footer-wrap {padding: 50px 0 0;}
.footer-wrap .footer-break-list {margin-top: 20px;}
.footer-wrap .footer-list {margin-top: 20px;}
.footer-1-content .footer-img {margin-top: 30px;}
.copyright p {font-size: 13px;padding: 15px 0;}
.copyright {margin-top: 35px;}
.header-icon a {height: 35px;width: 35px;line-height: 35px;}
.custom-header .ms-auto {margin-left: 0px !important;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {width: 100%;}
.main-banner .carousel-indicators {margin-bottom: 25px;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {justify-content: end !important;}
.footer-wrap .footer-break-list li {padding: 5px 0;}
.footer-wrap .footer-list li {padding: 5px 0px;padding-left: 20px; text-align: left;}
.footer-logo img {width: 50%;}
.header-button {display: none;}
.custom-header .navbar-header {display: block;}
.custom-header .collapse:not(.show) {display: none;}
.navbar-toggler.collapsed {background-color: var(--c-primary-text); border: none;}
.custom-header .header-icon {margin-right: 30px;right: 70px;position: absolute;top: 6px;}
.custom-header #navbarSupportedContent {background-color: var(--c-secondary-text);text-align: center;}
.footer-2-content {margin-left: 20px;}
.footer-wrap .footer-list li a {font-size: 12px;}
.copyright p {font-size: 12px;}
.footer-1-content {text-align: center;}
.footer-2 {margin-top: 30px;}
.footer-3 {margin-top: 30px;}
.custom-header {margin-top: 14px;}

.custom-header .navbar-toggler {border: none;height: 35px; float: left;margin: 0; height: 45px; width: 45px; border-radius: 4px;z-index: 1;background-color: var(--c-primary-text);}
.custom-header .navbar-toggler .icon-bar { width: 24px; background:var(--c-white) ;transition: .5s ease;}
.custom-header .navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.custom-header .navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.custom-header .navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.custom-header .navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.custom-header .navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.custom-header .navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
/*About-ICC-inner-start*/
.hero-img-content {padding-left: 0px;margin-top: 30px;}
.about-hero-button {text-align: center;}
.categories-2 {margin-top: 26px;}
.inner-banner-text {margin-top: 10px;}
.categories-1 {height: 450px;}
.categories-2 {height: 450px;}
.categories-3 {height: 450px;}
.about-us-categories.custom-pad {padding-top: 120px;}
/*About-ICC-inner-end*/
/*Galil-47-inner-start*/
.galil-47-gallery {height: 500px;}
.details-content {margin-top: 10px;}
.details-img .custom-paragraph {font-size: 14px;}
.details-img .custom-paragraph {margin-top: 10px;}
.galil-details.custom-pad {text-align: center;}
.galil-details.custom-pad .custom-heading {margin-top: 30px;}
/*Galil-47-inner-end*/
}


@media (max-width: 767.98px){
.footer-logo img {width: 40%;}
.footer-1 {text-align: center;}
.custom-header {margin-top: 10px;}
.footer-1-content .footer-img {margin-top: 30px;}
.footer-2-content {margin-left: 0px;}
.footer-wrap {padding: 40px 0 0;}
.copyright {margin-top: 40px;}
.footer-wrap .footer-break-list li a {font-size: 13px;}
.footer-wrap .footer-list li a {font-size: 13px;}
.custom-header .navbar-toggler {height: 35px;}
.main-banner .d-md-block {display: block !important;}
.main-banner h1 {font-size: 28px;line-height: 32px;}
.main-banner .carousel-caption.d-none.d-md-block {padding: 0 150px;}
.banner-button .custom-button {margin-top: 25px;}
.custom-header .header-icon {top: 1px;}
.footer-wrap .footer-break-list {column-count: unset;}
.footer-3 {text-align: center;}
.footer-2 {text-align: center;}
.main-banner .carousel-caption.d-none.d-md-block {top: 35.5%;}
/*About-ICC-inner-start*/
.categories-1 {height: 350px;}
.categories-2 {height: 350px;}
.categories-3 {height: 350px;}
.category-content .custom-paragraph {font-size: 16px; line-height: 25px;}
.about-hero-button .custom-button {width: 100%;}
.about-us-categories.custom-pad {padding-top: 100px;}
/*About-ICC-inner-end*/
/*Galil-47-inner-start*/

/*Galil-47-inner-end*/
}

@media (max-width: 575.98px){
.main-banner h1 {font-size: 22px;line-height: 30px;}
.banner-button .custom-button {margin-top: 15px;}
.main-banner .carousel-indicators {margin-bottom: 10px;}
.main-banner .carousel-caption.d-none.d-md-block {padding: 0 80px;}
.main-banner .carousel-caption.d-none.d-md-block {top: 38%;}
.banner-button .custom-button {margin-top: 25px;}
.header-icon {display: none;}
.custom-header {margin-top: 10px;}
.navbar-brand.header-logo.ms-0.py-0 img {width: 150px;}
.custom-header .navbar-toggler {height: 35px;border-radius: 3px;}
.footer-logo img {width: 70%;}
.footer-wrap .footer-list {margin-left: 40px;}
/*About-ICC-inner-start*/
.hero-img-content .custom-paragraph {text-align: center;}
.categories-1 {height: 300px;}
.categories-2 {height: 300px;}
.categories-3 {height: 300px;}
.about-us-categories.custom-pad {padding-top: 80px;}
/*About-ICC-inner-end*/
/*Galil-47-inner-start*/

/*Galil-47-inner-end*/
}

@media only screen and (max-width: 480.98px) {	
.main-banner .carousel-indicators {display: none;}
.main-banner h1 {font-size:20px;line-height: 22px;}
.banner-button .custom-button {margin-top: 15px;}
.main-banner .carousel-caption.d-none.d-md-block {padding: 0 15px;}
.main-banner .carousel-caption.d-none.d-md-block {top: 44%;}
.custom-header {margin-top: 5px;}
.footer-wrap .footer-list {margin-left: 20px;}
/*About-ICC-inner-start*/
.category-content .custom-paragraph {font-size: 12px;}
.categories-1 {height: 200px;}
.categories-2 {height: 200px;}
.categories-3 {height: 200px;}
.category-content {top: 43%;}
.hero-img-content {margin-top: 20px;}
.about-us-categories.custom-pad {padding-top: 60px;}
/*About-ICC-inner-end*/
/*Galil-47-inner-start*/

/*Galil-47-inner-end*/
}
/*Responsive-end*/