.counter-section{
    background-image: url(../images/stats-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.counter-section .counter-bottom-img{
    position: absolute;
    bottom: -115px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.counter-section .counter-wrap{
    text-align: center;
    display: inline-flex;
}
.counter-section .count-title{
    font-family: var(--ff-primary) ;
    font-size:25px ;
    font-weight: 700;
    color: var(--c-white);
}
.counter-section .count-number-and-unit span,.counter-section .count-number-and-unit{
    font-family: var(--ff-primary);
    font-weight: 700;
    color:  var(--c-primary-text);
    font-size: 60px;
}
.counter-section .counter-box {
    padding: 21px 0px;
    margin-bottom: 30px
  }
.counter-section .counter-col:not(:last-child) .counter-box {
    border-right: 2px solid var(--c-grey);
  }
  .get-in-touch {
    padding-bottom: 89px;
    padding-top: 218px;
  }
.get-in-touch .get-in-heading h4{
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: var(--c-secondary-text);
    padding-bottom: 30px;
}
.get-in-touch .get-in-text p,.get-in-touch .get-in-text p a{
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: var(--c-semi-grey);
}
.get-in-touch .get-in-text p a:hover{
    color:var(--c-primary-text);
}
.get-in-touch .get-in-text p{
    padding-bottom: 13px;
} 
.get-in-touch .get-in-text{
    padding-bottom: 20px;
}
.get-in-touch .get-in-map-heading h5{
font-family: var(--ff-primary);
font-weight: 500;
font-size: 20px;
color: var(--c-primary-text);
padding-bottom: 58px;
}
.get-in-touch .get-in-left .get-in-map iframe{
    width: 552px;
    height: 309px;
}
.get-in-touch .get-in-right .get-in-form input,.get-in-touch .get-in-right .get-in-form textarea{
    margin-bottom: 19px;
    font-size: 13px;
    line-height: 37px;
    border: 2px solid var(--c-grey-100);
    padding: 4px 22px;
}
.get-in-touch .get-in-right .get-in-form textarea{
    height: 227px;
}
.get-in-touch .get-in-right .get-in-form .form-btn a {
    padding: 12px 312px;
    line-height: 2;
}
   